#container {
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
	overflow: hidden;
}

.squares{
	padding:0;
	border:0;
    outline:1px solid #000;
	display:inline-block;
	overflow: hidden;
	margin-left: auto;
}

.button-container{
	text-align: center;
	margin-bottom: 5px;
}